/*!
 * Copyright 2018 by monad <12g0p20xy@gmail.com>
 */
@charset "utf-8";
/* Reset Styles
***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* General
***********************/
@media only screen and (max-width: 40em) {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}
input[type="submit"],
input[type="reset"],
input[type="button"],
select,
button {
  -webkit-appearance: none;
}
html,
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  color: #333;
  background: #fff;
}
body,
button,
input,
select,
textarea {
  font: normal 16px 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
  line-height: 1.7;
}
a {
  color: #333;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #666666;
}
a:hover > img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
a:active {
  color: #1a1a1a;
}
p {
  font-size: 16px;
  text-align: justify;
  word-break: break-all;
  margin-bottom: .5em;
}
.left {
  float: left;
}
.right {
  float: right;
}
.container {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 40em) and (max-width: 62em) {
  .container {
    width: 750px;
  }
}
@media only screen and (max-width: 40em) {
  .container {
    width: 94%;
  }
}
img {
  display: block;
  width: 100%;
}
.input-reset,
input[type="text"],
input[type="number"],
textarea,
.btn,
a.btn {
  display: block;
  margin: 1em auto;
  width: 10em;
  height: 2em;
  line-height: 2em;
  padding: 0;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
@media only screen and (max-width: 40em) {
  .input-reset,
  input[type="text"],
  input[type="number"],
  textarea,
  .btn,
  a.btn {
    width: 100%;
  }
}
input[type="text"],
input[type="number"],
textarea {
  color: #333;
  font-size: 16px;
  text-indent: .5em;
}
textarea {
  height: auto;
  resize: vertical;
  overflow-y: auto;
}
.btn,
a.btn {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  background: #F79B00;
  cursor: pointer;
}
.btn:active,
a.btn:active {
  background: #c47b00;
}
body {
  background: #ffe9c8;
  padding-bottom: 20%;
}
.wrap {
  padding: 0 2%;
}
.intro {
  color: #333;
}
.intro .p-box {
  margin: 0 auto;
  width: 96%;
  padding: .6em 1em;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  -webkit-box-shadow: 0 6px 12px #F3D3AA;
  box-shadow: 0 6px 12px #F3D3AA;
}
.intro p {
  margin-top: .5em;
  font-size: 14px;
  color: #824E29;
}
.intro p.center {
  text-align: center;
}
nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dd3030;
  z-index: 100;
}
nav a {
  display: block;
  float: left;
  width: 50%;
  padding: .8em 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: #fff;
  background: #bb1f1f;
}
h4 {
  position: relative;
  margin: 1.2em 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #824E29;
}
h4 b {
  display: block;
  color: #fff;
  padding-top: 2px;
}
h4 img {
  position: absolute;
  top: 0;
  z-index: -1;
}
.grid {
  width: 100%;
}
.grid .grid-item {
  width: 50%;
  padding: 1%;
}
.grid .grid-item .pic {
  position: relative;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}
.grid .grid-item .pic .counter {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  background: #1BB3AE;
  color: #fff;
  padding: .2em .5em;
  font-size: 13px;
}
.grid .grid-item .content {
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 10px;
}
.grid .grid-item .content b {
  display: block;
  font-size: 14px;
}
.grid .grid-item .content h4 {
  margin: .2em 0;
  margin-bottom: .4em;
  text-align: left;
  line-height: 1.3;
}
.grid .grid-item .content p {
  display: block;
  font-size: 13px;
  color: #666;
  line-height: 1.6;
}
.grid .grid-item .btn {
  margin-bottom: 0;
}
i.glyphicon-search {
  width: 3em;
}
.upload {
  padding: 0 5%;
  padding-top: 4%;
}
.upload label {
  display: block;
  margin: .5em 0;
  font-weight: bold;
  color: #A8612F;
}
.upload label small {
  font-size: 13px;
  font-weight: normal;
  color: #D0B38E;
}
.upload input,
.upload textarea {
  margin: .2em 0!important;
  opacity: .7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.upload input:focus,
.upload textarea:focus {
  opacity: 1;
}
.upload textarea {
  height: 5em;
  line-height: 1.5;
}
.upload img {
  margin: 1em 0;
}
.upload .upload-btn {
  position: relative;
}
.upload .upload-btn input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
